* {
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

input {
  display: flex;
}

#container {
  width: 450px;
}
