* {
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

h3 {
  text-align: center;
}

select {
  align-items: center;
}

input {
}

#root {
  display: grid;
  align-items: center;
  justify-items: center;
}

#container {
  width: 720px;
}
